@import url("//fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300|Cabin|Marvel");
body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif, "Almoni Tzar AAA";
  font-family: "Arimo";
  overflow-x: hidden;
  direction: rtl;
  margin: 75px auto 0;
}

.logo {
  max-height: 75px;
  padding: 10px 0 15px;
  width: auto;
  height: auto;
  display: block;
  max-width: 180px;
}

.logo-small {
  max-height: 50px;
  padding: 0 15px;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-padding {
  padding: 60px 0px;
}

.navbar-inner {
  max-width: 1200px;
}

.navbar-default {
  background-color: transparent;
}

.main-header {
  background: url(/images/banner.png);
  min-height: 100vh;
  background-size: cover;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.41);
}

.nav > li > a {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
  height: inherit;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ffd34e;
  text-transform: uppercase;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffd34e;
}

.fixed-top {
  padding: 0px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-color: #202020 !important;
  height: 75px;
}

.wrapper {
  padding: 90px 0px 130px;
}

.top-title {
  z-index: 5;
  font-size: 2em;
  font-weight: 900;
  color: #202020;
  line-height: 1em;
  letter-spacing: 3px;
  opacity: 1;
  padding: 20px 0;
  margin: 20px 0;
}

.sub-title {
  font-size: 5em;
  font-weight: 700;
  color: #202020;
  line-height: 71px;
  letter-spacing: 4px;
  opacity: 1;
  text-shadow: 0 1px 0 white, 0 2px 0 rgba(255, 255, 255, 0.75), 0 3px 0 rgba(0, 0, 0, 0.6), 0 4px 0 rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 123px;
  font-weight: 700;
  color: #fff;
  line-height: 88px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 25px 0px;
}

.btn-submit {
  background: #2c3e50;
  border: 0px;
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 40px;
  font-weight: normal;
  border-radius: 3px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: white;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-top: 25px;
}

.btn-submit:hover {
  color: #ffd34e;
  -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
}

/****/
.dec-tec {
  font-size: 34px;
}

/****/
#feature {
  background-color: #f8f8f8;
  direction: ltr;
}

.head-title {
  color: #2b2b2b;
  font-size: 3em;
  font-weight: 700;
  text-align: right;
  direction: rtl;
}

.head-title a {
  color: #202020 !important;
}

.section-title:hover .botm-line {
  width: 70px;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: width;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  /* Standard syntax */
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.icon1 {
  position: relative;
  height: 32px;
  width: 32px;
  float: right;
  margin: 3px;
}

.icon-text {
  margin-right: 32px;
  padding: 0px 10px 25px 25px;
}

h3.txt-tl {
  font-size: 24px;
  line-height: 1.35;
}

/****/
.parallax {
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center center;
}

.bg-image-2 {
  background: url("/images/cta-banner.jpg") no-repeat center fixed;
  background-size: cover;
}

.section {
  position: relative;
  padding: 88px 0 67px 0;
  display: block;
}

.cta-txt {
  text-align: right;
}

.download-syllabus {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cta-txt h3 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #fff;
}

.cta-txt p {
  color: black;
  font-size: 1.25em;
  text-align: justify;
}

/****/
.portfolio {
  font-size: 1.25em;
  text-align: justify;
}

.portfolio-box-img {
  margin: 15px;
  border-radius: 50%;
}

.padding-right-zero {
  padding-right: 0px;
}

#contact {
  background-color: #f8f8f8;
}

.validation {
  color: red;
  display: none;
  margin: 5px 0 10px;
  font-weight: 400;
  font-size: 13px;
  text-align: right;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

.black {
  color: #000 !important;
  font-weight: 600;
}

.btn-send {
  border-radius: 0px;
  color: black;
  background-color: #e0a750;
  font-weight: bold;
  font-size: 1.5em;
}

a,
a:hover {
  color: #ffd34e;
}

.cont-title {
  font-size: 24px;
  padding: 15px 0px;
}

.location-info p i {
  display: inline-block;
}

.location-info a {
  color: inherit;
}

.location-info p i {
  width: 40px;
  font-size: 24px;
  color: #666;
  vertical-align: middle;
}

.location-info p {
  margin-bottom: 5px;
}

.location-info p {
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.contact-icon-container {
  position: absolute;
  top: -38px;
  right: 0;
  padding-right: 20px;
  font-size: 320px;
  color: #555;
  line-height: 300px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/****/
#footer {
  background-color: #191919;
  padding: 20px 0px;
}

.footer-ltr {
  direction: ltr;
}

.footer-copyright {
  color: #fff;
  line-height: 32px;
  text-align: center;
}

.footer-social {
  float: right;
}

.footer-social a {
  font-size: 18px;
  color: #666;
}

.link-dec,
.link-dec:hover {
  color: #000;
}

/****/
#topNav {
  width: 100%;
}

#topNav ul {
  width: 100%;
  text-align: center;
  padding: 0 50px;
}

.navbar-item {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
  color: wheat;
}

.navbar-nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.numbers {
  text-align: center;
  direction: ltr;
  letter-spacing: 0;
  white-space: nowrap;
  word-spacing: -0.2em;
}

.digit-spacer {
  color: #202020;
  padding: 0;
}

.digit {
  position: relative;
  font-weight: bold;
  background-color: #232323;
  line-height: 1;
  margin: 0 3px;
  color: transparent;
  -webkit-animation: fill 0.5s;
          animation: fill 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  border-radius: 15px;
  display: inline-block;
}

.digit-color {
  color: #ef4f32;
  color: #ffd300;
}

.digit:before {
  content: "";
  display: block;
  background: black;
  opacity: 0.2;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.digit:after {
  content: "";
  display: block;
  background: black;
  opacity: 0.1;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

blockquote {
  display: block;
  background: #ededed;
  padding: 25px 20px 0 75px;
  margin: 40px 0 40px;
  position: relative;
  direction: ltr;
  /*Font*/
  font-family: "Open Sans";
  font-size: 1.25em;
  line-height: 1;
  color: #666;
  word-spacing: -1px;
  /*Borders - (Optional)*/
  border-left: 1em solid #78c0a8;
  /*Box Shadow - (Optional)*/
  -webkit-box-shadow: -2px 0 20px rgba(0, 0, 0, 0.25), -1px -1px 10px #ccc, 5px 5px 10px #ccc;
          box-shadow: -2px 0 20px rgba(0, 0, 0, 0.25), -1px -1px 10px #ccc, 5px 5px 10px #ccc;
  -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25), 1px 2px 5px #ccc, 2px 10px 10px rgba(32, 32, 32, 0.15);
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25), 1px 2px 5px #ccc, 2px 10px 10px rgba(32, 32, 32, 0.15);
  border-radius: 15px;
}

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote .blockquote-name {
  font-size: 0.75em;
  padding: 20px 20px 20px 0;
  color: black;
  font-weight: bold;
  text-align: right;
  letter-spacing: -1px;
  word-spacing: 5px;
  font-style: italic;
}

.git {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  color: #ef4f32;
  display: inline-block;
  font-size: 1.5em;
  padding: 0 5px;
}

.fa-custom {
  position: relative;
  float: right;
  margin: 5px;
  padding: 0 10px;
  content: "";
  width: 32px;
  height: 32px;
  background-size: 32px;
  opacity: 0.75;
  color: black;
  font-size: 32px;
  vertical-align: top;
}

.fa-merge:before,
.fa-commit:before {
  background-image: url(../images/merge.png);
  content: "";
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.fa-merge:before {
  background-image: url(../images/merge.png);
}

.fa-commit:before {
  background-image: url(../images/commit.png);
}

.txt-para {
  text-align: right;
  unicode-bidi: plaintext;
  padding: 0 5px;
}

.txt-tl {
  text-align: right;
  color: tomato;
  font-weight: bold;
  min-height: 40px;
}

.subjects-more .highlight {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, white);
}

.fill-text-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fill-text-2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.fill-text-3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fill-text-4 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.fill-text-5 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.fill-text-6 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes fill {
  0% {
    color: transparent;
  }
  100% {
    color: #ef4f32;
  }
}

@keyframes fill {
  0% {
    color: transparent;
  }
  100% {
    color: #ef4f32;
  }
}

.tag {
  width: 200px;
  height: 40px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 10px;
  display: inline-block;
  z-index: 0;
  color: black;
  background: #ffffd8;
}

.tag:before,
.tag:after {
  content: "";
  display: block;
  width: 195px;
  height: 43px;
  background: #ffffd8;
  border: 2px solid #ccc;
  border-radius: 2px;
  position: relative;
}

.tag:before {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  top: -3px;
  left: 2px;
  z-index: -1;
}

.tag:after {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  top: -78px;
  left: 2px;
  z-index: -2;
}

.tag > span {
  display: inline-block;
  position: relative;
  top: -40px;
  color: #2c3e50;
  text-align: center;
  width: 200px;
  font-size: 1.25em;
}

#portfolio .counter-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  padding: 15px 5px;
  border-radius: 5px;
  background-color: #e0a750;
  -webkit-box-shadow: 1px 1px 5px #2c3e50;
          box-shadow: 1px 1px 5px #2c3e50;
}

.counter-box .counter {
  padding: 0;
  font-family: Marvel;
  font-weight: bold;
  font-size: 2em;
}

.counter-box .counter-text {
  padding: 0;
  font-weight: bold;
}

footer a {
  font-size: 2.5em;
  color: white;
}

@media (max-width: 768px) {
  .title {
    font-size: 100px;
  }
  .sub-title {
    font-size: 3em;
  }
  .wrapper {
    padding: 0;
  }
  .fixed-top {
    padding: 0 10px;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.8);
    border-top: 0;
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .section-title {
    margin-bottom: 15px;
  }
}

@media (min-width: 20px) and (max-width: 450px) {
  .navbar-toggle:hover,
  .navbar-toggle {
    background-color: #fff;
    color: #000;
  }
  .navbar-toggle {
    margin-top: 0px;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  .top-title {
    font-size: 15px;
  }
  .title {
    font-size: 50px;
  }
  .sub-title {
    font-size: 24px;
  }
  .footer-copyright {
    text-align: center;
  }
  .padding-right-zero {
    padding-right: 15px;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .cta-txt h3 {
    font-size: 28px;
  }
  body {
    font-size: 14px;
  }
  h3.txt-tl {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  blockquote {
    padding: 10px 10px 0 45px;
    margin: 40px 0 40px;
  }
  .numbers {
    padding: 0px;
  }
  .digit-spacer {
    font-size: 0.4em;
  }
  .digit {
    font-size: 4rem;
    padding: 0 5px;
  }
  .digit:after {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}

@media (min-width: 768px) {
  .numbers {
    padding: 3rem;
  }
  .digit-spacer {
    font-size: 1em;
  }
  .digit {
    font-size: 8rem;
    padding: 0 1.5rem;
    border-radius: 15px;
  }
  .digit:after {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
}

@media (min-width: 900px) {
  .section-title {
    margin-bottom: 15px;
  }
}
